<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GenericConnectionString"
            connectionString="Data Source=FLORINEL-PC\SQLEXPRESS;Initial Catalog=CarCompanies;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  <appSettings>
    <add key="parentTableName" value="Manufacturers"/>
    <add key="parentColumnNames" value="MaId,Name"/>
    <add key="parentPrimaryKeyColumnName" value="MaId"/>
    
    <add key="childTableName" value="Models"/>
    <add key="childColumnNames" value="MoId,Company,Name,ReleaseDate,NumberSeats,ChassisType"/>
    <add key="childPrimaryKey" value="MoId"/>
    <add key="childForeignKeyColumnName" value="Company"/>
    <add key="childForeignKeyRefTableName" value="Manufacturers"/>
    <add key="childForeignKeyRefColumnName" value="MaId"/>
    
    <add key="childUpdateCommand" value="update Models set Company=@Company,Name=@Name,ReleaseDate=@ReleaseDate,NumberSeats=@NumberSeats,ChassisType=@ChassisType where MoId=@MoId"/>
    <add key="childInsertCommand" value="insert into Models(MoId,Company,Name,ReleaseDate,NumberSeats,ChassisType) values (@MoId,@Company,@Name,@ReleaseDate,@NumberSeats,@ChassisType)"/>
    <add key="childDeleteCommand" value="delete from Models where MoId=@MoId"/>
    
    <add key="childColumnTypes" value="Int,Int,VarChar,Date,Int,VarChar"/>
  </appSettings>
</configuration>