<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Laborator_1.Properties.Settings.CarCompaniesConnectionString"
            connectionString="Data Source=FLORINEL-PC\SQLEXPRESS;Initial Catalog=CarCompanies;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>